@model IA_Project.Models.TeamLeader

@{
    ViewBag.Title = "WelcomeTeamLeader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WelcomeTeamLeader @Session["User_Name"].ToString()</h2>

<div>
   
    
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>


<style>
    p {
        position: center;
        font-size: 40px;
    }
</style>
