@{
    ViewBag.Title = "About";
}


@*<p>Use this area to provide additional information.</p>*@

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<div class="block">
    <!-- Band Description -->
    <section class="container center content" style="max-width:600px">
        <h2 class="wide">Graduation Projects Idea</h2>
        <p class="opacity"><i>Simple Description about Our web site</i></p>
        <h2 class="justify">We have three Panels in Our system.</h2>
        <h3>
            1. Professor Panel <br/>
            2. Student Panel <br/>
            3. Admin Panel
        </h3>
        <p>___________________________________________________________________________________________</p>


        <h4>Professor Panel</h4>
        <p>
            1. Professor will login with the username and password provided from “Admin” and update his
            Interests.<br/>
            2. Show proposed team Ideas, and team members details about their names, IDs, Levels, Skills and
            their transcripts. <br/>
            3. Can Approve/Reject a team. <br/>
            4. If a team accepted, system will Notify this team via Email or SMS
        </p>
        <p>___________________________________________________________________________________________</p>
        <h4>Student Panel</h4>
        <p>
            1. Team Leader can create an account. You have Three Tabs in this step. </br>
            a. Create yourself as a team leader then your team members (Name, ID, Level, GPA, Skills)
            and upload transcript for each one.</br>
            b. Register your Idea <h5>(Idea Name , Idea Description , Tools you will use)</h5> </br>
            c. Select your professor at Max 3 Professor. So I can Register with one professor or two or
            three. You can make two drop down list one for the department and the other for
            professor name owned by selected department. <br />
            # After Registration you will send notification for each selected professor via
            Email or SMS.<br />
            2. Students will see their evaluation.<br />
            3. Anyone can show and browse professors’ profiles. To know more about his interests.<br />
        </p>
        <p>___________________________________________________________________________________________</p>
        <h4>Admin Panel</h4>
        <p>
            1. Add New Professor (Just Username and Password) <br />
            2. Delete Existing Professor<br />
            3. Show Report of Professors and number of teams with him<br />
        </p>
    </section>
    </div>

</html>
    <style>
        .block {
            box-sizing: border-box;
            background: rgba(0,0,0,0.2);
            border-radius: 50px;
        }
    </style>

